/* /////////Genarl Styles////// */
body{ 					padding: 				70px 0 0;
						margin: 					0;
						font-family: 			sans-serif;
						font-size: 				14px;
}


/* /////////menu lateral Styles////// */
#btn-menu{display:none;
}

#lateral-menu{ 		position:fixed;
width:200px;
top:0;
bottom:0;
left:-200px;
background:#fff;
border-right:1px solid #000;
}


/* /////////Header Styles////// */

#main-header{ 			position: 				fixed;
						height: 					70px;
						top: 					0;
						left: 					0;
						right: 					0;
						bottom: 					0;
						-webkit-box-shadow: 			0 0 10px #000;
						-moz-box-shadow: 			0 0 10px #000;
						-ms-box-shadow: 			0 0 10px #000;
						-o-box-shadow: 			0 0 10px #000;
						box-shadow: 			0 0 10px #000;
						background: 			#fff;
}

#main-header> h1 > a{ 	display: 				block;
						width: 					100%;
						height: 					100%;
}



#main-header> h1{
						background: 			url(../images/6226910937_f54b86d268.jpg) center no-repeat;
						background-size: 		100px;
						text-indent: 			-9999px;
						width: 					100px;
						position: 				absolute;
						left: 					10px;
						top: 					20px;
						margin: 					0;
}

/* /////////Menu Styles////// */

#main-nav{ 				position: 				absolute;
						left: 					120px;
						top: 					20px;
}

ul{ 						margin: 					0;
						padding: 				0;
						list-style-type: 		none;
			}

				#main-nav ul li{ 		float: 			left;
						}
				
				 		#main-nav ul li a{ 				display: 			block;
														text-decoration: 	none;
														color: 				#000;
														padding: 			10px;
						}
						/* /////////Menu button Styles////// */
#btn-menu{ 				display: 				none;
}
		
#wrapper{ margin:10px;
}
		
@media screen and (max-width:420px){
	


#main-header> h1 { 			position: 					relative;
							margin: 						0;
							padding: 					0;
							left: 						45px;

						
}

#main-nav { 					margin-top: 51px;
							display:none;
							left:0;
							right:0;
}

#main-nav ul li {			 
	float: 					none;
	border-bottom:  			1px solid #929292;
	background: 				#A2A2A2;
}


#btn-menu{
	display:block;
	position:absolute;
	top:17px;
	background:url(../images/1469915757_menu-24.png) center no-repeat;
	background-size: 24px;
	width:44px;
	height:40px;
	text-indent: -9999px;
}
}